#createQuizz {
    width: 80%;
    margin-left: 10%;
    background-color: rgb(20,20,20);
    padding: 20px;
}

#createQuizz > h2 {
    text-align: center
}

#createQuizz .questionType {
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
    display: flex;
    justify-content: center
}

#createQuizz .questionType li {
    float:left;
    margin:0 10px;
   width:100px;
   height:40px;
   position:relative;
}

#createQuizz .questionType label, #createQuizz .questionType input {
   display:block;
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

#createQuizz .questionType input[type="radio"] {
   opacity:0.011;
   z-index:100;
}

#createQuizz .questionType input[type="radio"]:checked + label {
   background:#999;
}

#createQuizz .questionType label {
    padding:5px;
    border:1px solid #CCC; 
    cursor:pointer;
   z-index:90;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.4s
}

#createQuizz .questionType label:hover {
    background:#999;
}