#text{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 30px;
    margin: 15px 0;
    align-items: center;
}
#text label {
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem
}

#text input[type='text']{
    padding: 4px;
    height: 20px;
    width: 100%
}

#text button {
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: .5s;
    cursor: pointer;
}

#text button:hover {
    background-color: #999
}