<!-- Importer le header en EJS -->
<%- include('../statics/header') -%>

<main>
    <h1>Oui</h1>
    <h1><%- data.data.title %></h1>
    <h1><%- data.data.theme %></h1>
    <script>console.log('oui')</script>
</main>

<!-- Importer le footer en EJS -->
<%- include('../statics/footer') -%>  