<!-- Importer le header en EJS -->
<%- include('../statics/header') -%>

<main>
        <h1><%- data.data[1].givenName %></h1>
        <h1><%- data.data[0].title %></h1>
</main>

<!-- Importer le footer en EJS -->
<%- include('../statics/footer') -%>  