<!-- Importer le header en EJS -->
<%- include('../statics/header') -%>

<main>
    <section class="adminSection">
        <h1><%- data.data.givenName %></h1>
        <div id="newQuizz">
            <h2>Nouveau Quizz</h2>
            <form action="/admin/create" method="POST" class="flexBox flexColumn">
                <label for="title">Titre</label>
                <input type="text" name="title" required minlength="5" value="Skulture">

                <label for="theme">Thématique</label>
                <input type="text" name="theme" required minlength="5" value="général">

                <button type="submit">Créer</button>
            </form>
        </div>
        <div id="oldQuizz"></div>
    </section>    
</main>

<!-- Importer le footer en EJS -->
<%- include('../statics/footer') -%>  