<!-- Importer le header en EJS -->
<%- include('../statics/header') -%>

<main>
    <h1><%- data.data.givenName %></h1>
    <h1><%- data.data.familyName %></h1>
    
</main>

<!-- Importer le footer en EJS -->
<%- include('../statics/footer') -%>  