<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <section class="log flexBox flexCenter">
        <%- include('components/form-login-register') -%>
    </section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
