<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
	<h2>Page protégée</h2>

	<h3>Article</h3>

	<p>
		<%- data.data.post.headline %>
	</p><br>


	<p>
		<%- data.data.post.body %>
	</p>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
