<!-- 
    Formulaire pour une question
-->

    <label for="headline">Titre</label>
    <input type="text" name="headline" required minlength="2" value="Mon super titre">

    <label for="body">Contenu</label>
    <textarea name="body" required minlength="2">Mon super contenu</textarea>

    <button>Ajouter</button>
