#gameQuizz .petitBac {
    background-color: rgb(50,50,50);
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 40px 30px 40px;
    align-items: center;
    text-align: center;
}
#gameQuizz .petitBac h3 {
    margin: 0
}
#gameQuizz .petitBac input {
border: none;
min-width: 200px;
margin-bottom: 10px;
}
#gameQuizz .petitBac label {
    min-width: 200px;
    margin: 10px 0
}