@import 'petitBac.css';
@import 'text.css';

.quizz {
    background-color: rgb(20,20,20);
    border-radius: 10px;
    margin: 0 2.5%;
    padding: 10px;
    text-align: center;
    height: calc(100% - 40px);
    font-family: RocknRoll One
}
.quizz h1 {
    text-align: left
}
.quizz h2 {
    text-align: center
}
.quizz h3 {
    font-size: 1.5rem
}
.quizz >  p {
    right: calc(2.5% + 10px );
    position: absolute;
    font-size: 2rem
}
.quizz > div {
    height: calc(100% - 102px);
    box-sizing: border-box;
    overflow-y: scroll
}
.quizz input {
    padding: 5px 10px;
    border-radius: 30px;
    border: none
}

.beforeResult {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.beforeResult > button {
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 10px 50px;
    cursor: pointer;
    transition: .5s
}

.beforeResult > button:hover {
    background-color: lightgrey;
}

.quizz button.validateButton {
    padding: 5px;
    border: 1px solid rgb(20,20,20);
    color: white;
    border-radius: 5px
}
.quizz button.false {
    background-color: red
}
.quizz button.true {
    background-color: green
}