<div id="petitBac" class="containerQuestion">
        <section>
            <div>
                <label for="petitBacLetter">Lettre</label>
                <input type="text" name="petitBacLetter" id="petitBacLetter" maxLength="1">
            </div>
            <div>
            <div>
        <label for="petitBac1">Thème 1</label>
        <input type="text" name="petitBac1" id="petitBac1">
    </div>
    <div>
        <label for="petitBac2">Thème 2</label>
        <input type="text" name="petitBac2" id="petitBac2">
    </div>
    <div>
        <label for="petitBac3">Thème 3</label>
        <input type="text" name="petitBac3" id="petitBac3">
    </div>
    <div>
        <label for="petitBac4">Thème 4</label>
        <input type="text" name="petitBac4" id="petitBac4">
    </div>
    <div>
        <label for="petitBac5">Thème 5</label>
        <input type="text" name="petitBac5" id="petitBac5">
    </div>
</div>
        </section>

        <button class="nextPetitBac">Question suivante</button>
</div>
