<div id="petitBac" class="hidden">
        <h1>Petit bac</h1>
        <label for="petitBacLetter">Lettre</label>
        <input type="text" name="petitBacLetter" id="petitBacLetter" maxLength="1">

        <label for="petitBac1">Thème 1</label>
        <input type="text" name="petitBac1" id="petitBac1">

        <label for="petitBac2">Thème 2</label>
        <input type="text" name="petitBac2" id="petitBac2">

        <label for="petitBac3">Thème 3</label>
        <input type="text" name="petitBac3" id="petitBac3">

        <label for="petitBac4">Thème 4</label>
        <input type="text" name="petitBac4" id="petitBac4">

        <label for="petitBac5">Thème 5</label>
        <input type="text" name="petitBac5" id="petitBac5">

        <button class="nextPetitBac">Question suivante</button>
</div>
