<div id="text" class="hidden containerQuestion">
        <label for="question">Question</label>
        <input type="text" name="question" id="textQuestion">

        <label for="resp">Réponse</label>
        <input type="text" name="resp" id="textReponse">

        <button class="nextText">Question suivante</button>
</div>
